@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Righteous', cursive;
    background-color: #fbe5df;
    text-decoration: none;
}

img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-image: url(../zipp/bg-01.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}


.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
     width: 200px;
     margin-left: 20px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size:18px;
    padding: 20px;
    color: #FFFFFF;
    font-weight: 600;
    display: block;
    text-decoration: none;
}
.menu .navbar ul li a:hover{
    color: #de97ff;
}

#menu {
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor:pointer;
    display: none;
}

.header-content{
    display: flex;
}

.footer-txt a {
  font-size: 26px;
  color:#6f6dd9;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  text-decoration: none;
}

a:hover {
  color: #e3a1c4;
  text-decoration: none;
}

.header-txt{
    flex-basis: 50%;
}

.header-txt h1{
    font-size: 60px;
    color: #FFFFFF;
    line-height: 1.3;
    margin-bottom: 25px;
}
.header-txt span{
    color: #de97ff;
}
.header-txt p{
    font-size: 17px;
    color: #e0e0e0;
    margin-bottom: 10px;
}

.butons{
    display: flex;
}

.btn-1{
    display:inline-block;
    padding: 11px 35px;
    border: 2px solid #de97ff;
    border-radius: 25px;
    margin-right: 25px;
    font-size: 17px; 
    color: #FFFFFF;
  text-decoration: none;

}

.btn-1:hover,.btn-1 b:hover {
    background-color: #de97ff;
    color: #2c0044;
    
}

.general{
    width: 50%;
    text-align: center;
}

.general-img img{
    width: 150px;
    padding: 20px;
}

.general-txt p{
    font-size: 18px;
    color: black;
    margin-bottom: 40px;
    
}


.banner{
    padding: 150px 0;
    text-align: center;
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
         rgba(0,0,0,0.2)
    ),
    url(../zipp/section.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner h2{
    font-size: 50px;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.banner p{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 40px;

}

.plan{
    padding: 100px 0;
    text-align: center;
}

.plan-content{
    display: flex;
    justify-content: space-between;
}

.plan-1{
    padding: 25px;
}

.plan-1 img{
    width: 100px;
    height: 100px;
    margin-bottom: 25px;

}

.bamer{
    padding: 150px 0;
    text-align: center;
    background-image: linear-gradient(
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.2)
    ),
    url(../zipp/section.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bamer h2{
    font-size: 50px;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.bamer p{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 40px;

}
.bannner{
    padding: 150px 0;
    text-align: center;
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
         rgba(0,0,0,0.2)
    ),
    url(../zipp/h2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0%;
}
.map{
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    
}
@media(max-width:991px){

  .footer-txt p, a {
    font-size: 16px;
  }
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 150%;
        left: 0;
        right: 0;
        background-color: #2c0044;
        display: none;
    }
    .menu .navbar ul li a:hover{
        color: #de97ff;
    }

    .menu .navbar ul li{
        width: 100%
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .header{
        min-height: 0vh;
        padding: 160px 30px 50px 30px;
    }
    .header-txt{
        text-align: center;
        flex-basis: 100%;
    }
    .header-txt h1 {
        font-size:50px ;
        margin-bottom: 15px;
    }
    .butons{
        justify-content: center;

    }

    .btn-1:last-of-type{
        margin-right: 0;
    }
}